/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0e99c4;
  --ifm-color-primary-dark: #0e99c4;
  --ifm-color-primary-darker: #0e99c4;
  --ifm-color-primary-darkest: #0e99c4;
  --ifm-color-primary-light: #020436;
  --ifm-color-primary-lighter: #020436;
  --ifm-color-primary-lightest: #020436;
  --ifm-code-font-size: 95%;
  --ifm-background-color: #fefcf5;
  --ifm-footer-background-color: #020436;
  --ifm-footer-color: rgba(255, 255, 255, 0.85);
  --ifm-navbar-background-color: #020436;
  --ifm-navbar-link-color: #0e99c4;
  --ifm-navbar-height: 80px;
  --ifm-dropdown-background-color: #050a1b;
  --ifm-dropdown-link-color: #0e99c4;
}

.docusaurus-highlight-code-line {
  background-color: #020436;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar__item {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.navbar__toggle svg path {
  stroke: var(--ifm-navbar-link-color);
}
