@import "./variables";

.HeroReview {
  background-size: cover;
  background-position: center center;
}

.SubHero {
  background-size: 50%;
  background-position: top left;
  background-repeat: no-repeat;
}